sphinx==7.2.6
sphinx-rtd-theme==2.0.0
pywinctl == 0.3
pymsgbox == 1.0.9
pyhotkey == 1.5.0
pyperclip == 1.8.2
send2trash == 1.8.2
gitignore-parser == 0.1.11
opencv-python == 4.6.0.66
mss == 9.0.1
sounddevice == 0.4.6
soundfile == 0.12.1